POSTGRES_DB=pioniersstudenten
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=kiesEenWachtwoord

POSTGRES_TEST_DB=pioniersstudenten-test
POSTGRES_TEST_USERNAME=test
POSTGRES_TEST_PASSWORD=kiesEenWachtwoord

DATABASE_URL=postgres://<user>:<password>@<host>:<port>/<database>
