# Fill .env with these:
APP_ENV=development

POSTGRES_DB=pioniersstudenten
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=kiesEenWachtwoord

DATABASE_URL=postgres://<user>:<password>@<host>:<port>/<database>


# Fill .env.test with these:
APP_ENV=testing

POSTGRES_DB=pioniersstudenten-test
POSTGRES_USER=test
POSTGRES_PASSWORD=kiesEenWachtwoord

DATABASE_URL=postgres://<user>:<password>@<host>:<port>/<database>


