POSTGRES_DB=pioniersstudenten
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=rootpassword

POSTGRES_TEST_DB=pioniersstudenten-test
POSTGRES_TEST_USERNAME=test
POSTGRES_TEST_PASSWORD=rootpassword7

DATABASE_URL=postgres://<user>:<password>@<host>:<port>/<database>
